# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

os: osx
osx_image: xcode9.2
language: swift
# cache: cocoapods
# podfile: Example/Podfile
# before_install:
# - gem install cocoapods # Since Travis is not always on latest version
# - pod install --project-directory=Example
install:
- gem install xcpretty --no-rdoc --no-ri --no-document --quiet
script:
- swift build
- set -o pipefail && xcodebuild build -project SwiftScriptRunner.xcodeproj -scheme SwiftScriptRunner -sdk macosx ONLY_ACTIVE_ARCH=NO | xcpretty -c
- pod lib lint --quick
